* {
    margin: 0;
}

:root {
    --main-heading-color: rgb(185, 253, 235);
    --subheading-color: rgb(185, 253, 235);
    --caption-color: rgb(255, 130, 238);
    --normal-text-color: rgb(185, 253, 235);
    --button-text-color: rgb(185, 253, 235);
    --button-border-color: rgb(185, 253, 235);
    --button-hover-color: rgb(255, 130, 238);
    --button-active-color: rgb(255, 130, 238);

    --background-image: url("spacesquare.png");

}