<!DOCTYPE html>
<html>

    <head>
        <title>Hello, Dreamer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta property="og:url" content="http://www.johnnyrubix.com/hello-dreamer"/>
        <meta property="og:title" content="Hello, Dreamer"/>
        <meta property="og:description" content="don't wake up"/>
        <meta property="og:image" content="{{url_for('static', filename='images/johnnyrubix-og.png')}}">
        <meta property="og:type" content="website"/> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rubix game.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{{url_for('static', filename='scripts/hello-dreamer.js')}}"></script>
    </head>

    <body>
        <br>
        <br>

        <div class="header">
                {% block header %}
                <div>
                    <h1 id="main-header">Johnny</h1>
                    <h1 id="main-header">Rubix</h1>
                </div>
                {% endblock %}
        </div>

        <div id="content">
            <br>
            <br>
            <br>

            <div class="body-container">

                <div class="content-container">
                    <div class="drop-down-menu-container" id="game-story-menu">
                        <br>
                        <h3>you awaken one night in a <span style="color: red;">dream </span> in hallways that feel familiar. in the last room, you find ella. she tells you that unless you conquer your fears before you wake up, the <span style="color: red;">dream</span> world will collapse in on itself. now you must fight to stay lucid enough to navigate your subconscious and confront your nightmares and memories before it's too late.</h3>
                        <br>
                        <h3 style="text-align: center;">don't wake up</h3>
                        <br>
                        
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (3).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (4).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (5).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (6).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (7).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (8).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (9).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (10).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (11).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (12).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (13).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (14).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (15).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (16).png')}}" alt="" class="iframe-box image-box">
                        <img src="{{url_for('static', filename='images/hellodreamer/hello dreamer (17).png')}}" alt="" class="iframe-box image-box">

                        <h3>this game is still in development. if you are interested in play testing it, please contact me using the form below!</h3>
                        <br>
                    </div>
                </div>

                <div class="content-container">
                    <div class="drop-down-menu-container" id="game-form-menu">
                        <form action="https://formsubmit.co/admin@johnnyrubix.com" method="POST" class="form">
                            <br>
                            <h3>contact me if you want to play test this game!</h3>
                            <br>
                            <input type="hidden" name="_subject" value="new game inquiry!">
                            <input type="hidden" name="_next" value="https://www.johnnyrubix.com/thanks">
                            <input class="input-field" type="text" name="name" placeholder="name (required*)" required>
                            <br>
                            <input class="input-field" type="email" name="email" placeholder="email (required*)" required>
                            <br>
                            <textarea class="text-box" id="text-box" name="text-box" rows="4" cols="50" maxlength="500" placeholder="message (optional)"></textarea>
                            <br>
                            <button class="form-submit-button" type="submit">send</button>
                        </form>
                    <br>
                    <br>
                    </div>
                </div>

                <br>
                <br>

                <div class="content-container" id="back-to-main-container">
                    <div class="button" id="back-to-main-button">
                        <h3>back to main</h3>
                    </div>
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>


            </div>
        </div>

        <div class="footer"> 
        {% block footer %}
            <div>
            </div>
        {% endblock %}
        </div> 

    </body>

    

    

</html>