{% extends "layout.html" %}
{% block title %} Home {% endblock %}

{% block opengraph %}
<meta property="og:url" content="http://www.johnnyrubix.com"/>
<meta property="og:title" content="Johnny Rubix"/>
<meta property="og:description" content="Multimedia Artist. Technology Enthusiast. Professional Dumbass"/>
<meta property="og:image" content="http://www.289thepeak.com/static/images/johnnyrubix-og.png"/>
<meta property="og:type" content="website"/>        
{% endblock %}

{% block head %} 
{{ super() }}
{% endblock %}

{% block header %} 
{{ super() }}
{% endblock %}

{% block content %}

<h1>Hello World!</h1>

{% endblock %}

{% block footer %} 
{{ super() }}
{% endblock %}