<!DOCTYPE html>
<html>

    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}Johnny Rubix</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
            {% block opengraph %}
            {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/johnnyrubixlogo.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rubix space.css') }}">
            {% block scripts %}
            {% endblock %}
        {% endblock %}
    </head>

    <body>

        <div class="header">
                {% block header %}
                <div>
                    <h1>Johnny Rubix</h1>
                </div>
                {% endblock %}
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer"> 
        {% block footer %}
            <div>
            </div>
        {% endblock %}
        </div> 

    </body>

    

    

</html>