<!DOCTYPE html>
<html>
<head>
    <title>The Great Simulation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta property="og:url" content="https://www.johnnyrubix.com/simulation"/>
    <meta property="og:title" content="The Great Simulation"/>
    <meta property="og:description" content="don't you get lost in the great simulation"/>
    <meta property="og:image" content="{{url_for('static', filename='images/simulationbanner.png')}}">
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="The Great Simulation"/>
    <meta name="twitter:description" content="don't you get lost in the great simulation"/>
    <meta name="twitter:image" content="https://www.johnnyrubix.com/static/images/simulationbanner.png"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simulation.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='scripts/landing-page.js')}}"></script>   
</head>

<body>
    

<video autoplay muted loop id="bgVideo">
        <source src="{{url_for('static', filename='images/simulation.mp4')}}" type="video/mp4">
</video>

<br>
<br>
<br>

<div class="body-container">

    <div class="content-container" id="landing-page-header">
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic; font-weight: bold; font-size: 62px; text-align: center; text-shadow: 4px 4px rgb(155, 6, 6);">The Great Simulation</h3>
    </div>
    
    <div class="content-container">
        <div class="drop-down-menu-container" style="border: none; background-color: transparent;" id="new-music-menu">
            <br>
            <div class="streaming-links-container" id="streaming-links-container">
                <div style="width: 100%; max-width:400px;">
                    <div style="position:relative;padding-bottom:calc(56.25% + 52px);height: 0;margin-left: 0;" id="streaming-link">
                        <iframe style="position:absolute;top:0;left:0;right:0;" width="100%" height="100%" src="https://odesli.co/embed/?url=https%3A%2F%2Fsong.link%2Fs%2F5CSFQl43Z2Qx8nBeDuj3Gn&theme=dark" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts allow-presentation allow-popups allow-popups-to-escape-sandbox" allow="clipboard-read; clipboard-write" class="iframe-box"></iframe>
                    </div>
                </div>
            </div>
            <br>
            
        </div>
    </div>

    <div class="content-container" id="landing-page-header">
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic; font-weight: bold; text-align: center;">now streaming on your favorite platform</h3>
    </div>

    <br>
    <div class="body-menu-line"></div>
    <br>
    <br>

    <div class="content-container" id="my-story-container">
        <div class="button" id="home-button">
            <h3 style="font-family: Georgia, 'Times New Roman', Times, serif; font-style: italic;">explore johnnyrubix.com</h3>
        </div>
    </div>

</div>

</body>

</html>

